.backgroundImag{
    background-image: url(../images/Image/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    z-index: -1;
    padding: 10%;
}
p{
    font-weight: bold;
}